.todos-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.settings-icon {
    position:absolute;
    top: 1vh;
    right: 1vh;
    height: 8vh;
    width: 8vh;
}

.settings-icon img{
    height: 8vh;
    cursor: pointer;
    animation: rotate-animation 10s infinite linear;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
    }
    50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
    }
}


.logout-div{
    display:flex;
    justify-content: space-between;
    width: 95vw;
}

.main-todos-div {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.main-todos-div {
    font-size: 1.5rem;
}

.name {
    color:rgb(164, 54, 42);
    font-size: 2rem;
}

.todo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 10vw;
    width:100%;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(164, 54, 42);
    border: 0.1px solid rgba(0, 100, 100, 0.214);
    border-radius: 5px;
    padding: 0 2vw;
    color: white;
    cursor: pointer;
}

.todo:hover {
    box-shadow: 2px 2px rgb(0, 100, 100);
}

.add-todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.add-todo-form input {
    background: rgb(255, 247, 244);
    border:1px solid rgb(178, 203, 203);
    border-radius: 10vw;
    color: rgb(0, 100, 100);
    padding: 3vw;
}

.add-button {
    color:rgb(0, 100, 100);
    border: 1px solid rgba(0, 100, 100, 0.658);
}

@media(min-width: 800px) and (orientation: landscape){

}

@media(min-width: 1200px) {
    .add-todo-form {
        justify-content: center;
    }
    #todo_name{
        padding: 0 2vh;
        height: 5vh;
        margin-right: 3vw;
    }
}

@media(max-width: 1024px) {
    .todo-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .todo-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

