.todo-outer-div {
    margin-top: 2vh;
    width: 100%;
}

.todo-main-div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.todo-main-div h2 {
    font-size: 2rem;
    color: rgb(164, 54, 42);
}

.task.completed {
  text-decoration: line-through 3px red;
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
} 

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    margin-top: 10vw;
    width:100%;
}

.task {
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  background: rgb(0,75,75);
  border-radius: 5px;
  width: 100%;
  max-width: 1280px;
  color: white;
}

.delete-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
    width: 100%;
}

.clear {
    margin-bottom: 5vh;
}

.todo-main-div input{
    background: rgb(255, 247, 244);
    border:1px solid rgb(178, 203, 203);
    border-radius: 10vw;
    color: rgb(0, 100, 100);
    padding: 3vw;
}

.delete-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.delete-warning h2 {
    color: rgb(0, 100, 100);
}

.question-mark {
    color:rgb(164, 54, 42)
}

@media(min-width:1200px){
    #task_description{
        padding: 0 2vh;
        height: 5vh;
        margin-right: 3vw;
    }
}

@media(min-width: 800px) and (orientation: landscape){

}